// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$pink: rgb(220, 42, 125);
$blue: rgb(183, 33, 102);

h1{
  font-family:$f-serif-headline;
  color: #005689;
  font-size: 20px;
}

a {
  text-decoration: none !important;
}

.year-in{
    background-color: #aad8f1;
    background: linear-gradient(30deg,#aad8f1,#197dab);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.year-in--standfirst-wrapper{
    position: fixed;
    top: 88%;
    left: 50%;
    width: 90%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    display: none;

    @include mq($from: desktop){
      width: 980px;
      display: block;
    }

    @include mq($from: leftCol) {
      width: 830px;
    }

}

.year-in-standfirst{
  width: 300px;
  margin-left: 30px;
}

.year-in--type{
    position: absolute;
    top: 100px;
    width: 100%;

    @include mq($from: desktop){
      position: fixed;
      top: 40%;
      left: 50%;
      width: auto;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      width: 980px;
      margin-top: 0px;
    }

    @include mq($from: leftCol) {
      width: 780px;
    }

    @include mq($from: wide) {
      -ms-transform: translateX(-50%) translateY(-56%);
      -moz-transform: translateX(-50%) translateY(-56%);
      -webkit-transform: translateX(-50%) translateY(-56%);
    }

  svg{
      width: 100%;
      height: auto;
      opacity: 0.8;

      path {
        fill:rgba(255,255,255,0.5);
      }

      @include mq($from: desktop) {
        width: 800px;
        height: auto;
        margin-top: -50px;
      }

      @include mq($from: leftCol) {
        width: 850px;
        height: auto;
      }

      @include mq($from: wide) {
        width: 870px;
        height: auto;
      }
  }
}

.year-in--cut{
  position: absolute;
  bottom: -10px;
  display: none;

  img{
    width: 100%;
    height: auto;
    display: block;
  }

  &.one{
    right: 30px;
    display: block;
    width: 180px;
    opacity: 0;

    @include mq($from: desktop) {
      right: 12%;
      width: 335px;
    }
  }

  &.two{
    opacity: 0;
    @include mq($from:desktop) {
      display: block;
      width: 225px;
      right: 80px;
      z-index: -10;
    }

    @include mq($from: leftCol) {
      right: 220px;
    }

    @include mq($from: wide) {
      right: 420px;
    }
  }
}

// .setone{
//   display: none;
// }

.settwo{
  .year-in--cut{
    &.one{
      width: 300px;

      @include mq($from:desktop) {
        width: 728px;
        right: 12%;
      }
    }
    &.two{
      bottom: -40px;
    }
  }
}

@keyframes oneIn {
  0%{
    margin-right: -50px;
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  20%{
    margin-right: 0px;
    opacity: 1;
  }
  80%{
    transform: translateX(0px);
    opacity: 1;
  }
  85%{
    opacity: 0;
  }
  100%{
    transform: translateX(-50px);
    opacity:0;
  }
}

@keyframes twoIn {
  0%{
    transform: translateX(-50px);
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  20%{
    transform: translateX(0px);
    opacity: 1;
  }
  80%{
    transform: translateX(0px);
    opacity: 1;
  }
  85%{
    opacity:0;
  }
  100%{
    transform: translateX(50px);
    opacity:0;
  }
}

// .year-in--images{
//   opacity: 0;
//   -webkit-transition: all 1s ease-in-out;
//   -moz-transition: all 1s ease-in-out;
//   -o-transition: all 1s ease-in-out;
//   transition: all 1s ease-in-out;
// }
//
.year-in--images.active {
  // opacity: 1;
  &.setone{
    .year-in--cut{
      &.one{
        animation: twoIn;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        -webkit-animation: twoIn;
        -webkit-animation-duration: 3s;
        -webkit-animation-fill-mode: forwards;
      }

      &.two{
        animation: twoIn;
        animation-delay: 0.5s;
        animation-duration: 3.5s;
        animation-fill-mode: forwards;
        -webkit-animation: twoIn;
        -webkit-animation-delay: 1s;
        -webkit-animation-duration: 3s;
        -webkit-animation-fill-mode: forwards;
      }
    }
  }

  &.settwo{
    .year-in--cut{
      &.one{
        animation: oneIn;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        -webkit-animation: oneIn;
        -webkit-animation-duration: 3s;
        -webkit-animation-fill-mode: forwards;
      }

      &.two{
        animation: oneIn;
        animation-delay: 0.5s;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        -webkit-animation: oneIn;
        -webkit-animation-delay: 1s;
        -webkit-animation-duration: 3s;
        -webkit-animation-fill-mode: forwards;
      }
    }
  }
}

.spotify-button {
  border: 1px solid #005689;
  padding: 12px;
  border-radius: 24px;
  font-family:$f-sans-serif-headline;
  width: 122px;
  color: #005689;

  &:hover{
    background-color: #005689;
    color: white;
  }
}
