// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

body {
    margin: 0px;
}

.website-wrapper {
    background-color: #f6f6f6;
    .website-mobile {
        img {
            width: 100%;
            display: block;
            height: auto;
            margin-top: -65px;
        }
        display: block;
        @include mq($from: tablet){
            display: none;
        }
    }
    .website-desktop {
        margin-left: auto;
        margin-right: auto;
        width: 1430px;
        display: none;

        img {
            width: 100%;
        }

        @include mq($from:tablet) {
            display: block;
        }
    }
}
