html {
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  body svg {
    display: block;
    width: 100%;
    height: 100%; }
  @media (min-width: 380px) and (max-width: 380px) {
    body .wrapper {
      float: right; } }
  body a {
    color: inherit;
    text-decoration: none;
    border: 0;
    display: block; }

#podcard-player {
  width: 520px;
  position: relative;
  background: #333333;
  overflow: hidden; }
  #podcard-player #podcard-audio {
    display: none; }
  #podcard-player .podcard {
    position: relative;
    width: 100%;
    min-height: 200px;
    margin-bottom: 2px;
    color: #333; }
    #podcard-player .podcard__control-play, #podcard-player .podcard__control-pause {
      position: absolute;
      top: 31%;
      left: 41%;
      width: 40%;
      height: 40%;
      transition: all 400ms; }
    #podcard-player .podcard__control-play {
      z-index: 22; }
    #podcard-player .podcard__control-pause {
      z-index: 21;
      animation-delay: 200ms;
      animation-name: pause-puslate;
      animation-duration: 1000ms;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
    #podcard-player .podcard__progress-bar, #podcard-player .podcard__artwork {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      pointer-events:none; }
    #podcard-player .podcard__progress-bar img, #podcard-player .podcard__progress-bar svg, #podcard-player .podcard__artwork img, #podcard-player .podcard__artwork svg {
        width: 40%;
        height: 100%;
        display: block;
        float: right; }
    #podcard-player .podcard__artwork {
      z-index: 0; }
    #podcard-player .podcard__progress-bar {
      z-index: 11;
      transform: rotate(-120deg); }
    #podcard-player .podcard__headline {
      z-index: 11;
      font-family: 'Guardian Egyptian Headline';
      font-weight: 700;
      width: 50%;
      font-size: 20px;
      line-height: 21px;
      margin: 0 0 20px 10px;
      padding-top:10px;
      color: #FFBB00;}
    #podcard-player .podcard__subscribe {
      background-color: #fb0;
      padding: 5px 13px 5px 30px;
      margin: 0 0 20px 10px;
      border-radius: 15px;
      display: inline-block;
      color: inherit;
      text-decoration: none;
      border: 0;
      width: 140px;
     }
      #podcard-player .podcard__subscribe--icon {
        width: 17px;
        height: 14px;
        display: inline-block;
        vertical-align: middle; }
      #podcard-player .podcard__subscribe--text {
        display: inline-block;
        vertical-align: middle;
        font-family: 'Guardian Agate Sans';
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 1.5px;
        line-height: 16px; }
  #podcard-player[data-status='paused'] .podcard__control-play {
    opacity: 1; }
  #podcard-player[data-status='paused'] .podcard__control-pause {
    opacity: 0; }
  #podcard-player[data-status='playing'] .podcard__control-play {
    opacity: 0; }
  #podcard-player[data-status='playing'] .podcard__control-pause {
    opacity: 1; }
  #podcard-player .episode-info {
    width: auto;
    margin: 0 0 10px 10px; }
    #podcard-player .episode-info__label {
      font-family: 'Guardian Agate Sans', georgia;
      font-weight: 700;
      font-size: 0;
      color: #dcdcdc;
      margin-bottom: 2px;
      line-height: 16px; }
      #podcard-player .episode-info__label--latest {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle; }
        #podcard-player .episode-info__label--latest:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: #ccc;
          height: 14px;
          vertical-align: middle;
          margin: 0 7px 0 9px; }
      #podcard-player .episode-info__label--time, #podcard-player .episode-info__label--current {
        padding-top: 1px;
        font-size: 13px;
        display: inline-block;
        vertical-align: middle; }
      #podcard-player .episode-info__label--current {
        max-width: 0;
        transition: all 300ms;
        opacity: 0.6;
        white-space: nowrap;
        overflow: hidden; }
        #podcard-player .episode-info__label--current:after {
          content: 'of';
          margin: 0 4px 0 3px; }
    #podcard-player .episode-info__title {
      padding-top: 1px;
      font-family: 'Guardian Egyptian Headline';
      font-weight: 700;
      font-size: 20px;
      line-height: 21px;
      color: #fff;
      max-width: 50% }
  #podcard-player[data-status='playing'] .episode-info__label--current {
    max-width: 50px;
    opacity: 1; }

@keyframes pause-puslate {
  0% {
    transform: scale(0.95); }
  75% {
    transform: scale(0.95); }
  80% {
    transform: scale(1); }
  83% {
    transform: scale(0.9); }
  90% {
    transform: scale(1); }
  98% {
    transform: scale(0.95); }
  100% {
    transform: scale(0.95); } }
@font-face {
  font-family: 'Guardian Agate Sans';
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Ag Sans 1 Web-Bold.eot");
  src: url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.woff) format("woff"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.ttf) format("truetype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.svg#Guardian+Text+Egyp+Web-Medium) format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Egyp Web-Bold.eot");
  src: url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.woff) format("woff"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.ttf) format("truetype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.svg#Guardian+Egyp+Web-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }


  @media (min-width: 1080px) and (max-width: 1140px) {
    #podcard-player {
      width: 680px;
    }
    #podcard-player .podcard__progress-bar img, #podcard-player .podcard__progress-bar svg, #podcard-player .podcard__artwork img, #podcard-player .podcard__artwork svg {
        margin-top: -35px; } 
  }

  @media (min-width: 980px) and (max-width: 1080px) {
    #podcard-player {
      width: 520px;
    } 
  }

  @media (min-width: 730px) and (max-width: 980px) {
    #podcard-player {
      width: 600px;
    } 
  }

  @media (min-width: 320px) and (max-width: 730px) {
     #podcard-player {
      width: 100%;
      max-width: 520px;
     } 
     #podcard-player .podcard__artwork {
      display: none;
     }
     #podcard-player .podcard__subscribe {
      width: 140px;
     }
     #podcard-player .podcard__control-play, #podcard-player .podcard__control-pause {
      top: 35%;
      left: 65%;
      width: 80px;
      height: 80px;
    }
  }

  @media (max-width: 320px) {
    #podcard-player {
      width: 280px;
    } 
    #podcard-player .podcard__artwork {
      display: none;
    }

    #podcard-player .podcard__control-play, #podcard-player .podcard__control-pause {
      top:35%;
      left: 65%;
      width: 80px;
      height: 80px;
    }
  }

/*# sourceMappingURL=styles.css.map */
