// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$light-blue:#4bc6df;

.peter-cutout{
  &__background{
    width: 100%;
    border-bottom: 5px solid $light-blue;
    height: 218px;
    overflow: hidden;

    @include mq($until: 321px) {
      height: 385px;
    }
  }

  &__cutout-top{
    float: right;
    width: 300px;

    img{
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__quote{
    position: absolute;
    width: 550px;

    @include mq($until: 621px) {
      width: 390px;
    }

    @include mq($until: 321px) {
      position: relative;
      width: 320px;
    }

    h1{
      font-family: $f-serif-headline;
      font-weight: 200;
      font-size: 32px;
      color: #005689;
      margin-top: 0px;

      @include mq($until: 621px) {
        font-size: 27px;
      }
    }
  }
}
