// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$light-blue:#4bc6df;

.ewen-cutout{
  &__background{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;

    @include mq($until: 301px) {
      height: 291px;
    }

    @include mq($until: 296px) {
      height: 292px;
    }
  }

  &__cutout-top{
    border-bottom: 5px solid $light-blue;
    height: 286px;
    overflow: hidden;
    img{
      width: 70%;
      height: auto;
      display: block;
    }
  }
}
