// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.zedWrapper{
  position: relative;
}

.zedNelson{
  height: 100vh;
  background-image: url('@@assetPath@@/zed1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: animate;
  animation-delay: 1s;
  animation-duration: 8s;
  animation-iteration-count: infinite;

  &--two{
    height: 100vh;
    background-image: url('@@assetPath@@/zed2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: animate2;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    opacity: 0;
    position: absolute;
    top:0px;
    width: 100%;
  }
}


@keyframes animate{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }

}

@keyframes animate2{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}
