// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

html {
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  
.wrapper {
  background: #fff;
  width:300px;
  height: 420px;
  text-align: center;

  .rings {
    margin: 0 auto;
   
    img{
      position: absolute;
      margin-top: 20px;
      
    }

    #ring1 {
      left: 9px;
      -webkit-animation:spin 3s linear infinite;
      -moz-animation:spin 3s linear infinite;
      animation:spin 3s linear infinite;
      transform-origin: 51% 51%;
    }

    #ring2 {
    left: 43px;
    top: 30px;
    -webkit-animation:spin-reverse 3s linear infinite;
    -moz-animation:spin-reverse 3s linear infinite;
    animation:spin-reverse 3s linear infinite;
    transform-origin: 52% 52%;
    }

    #ring3 {
    left: 67px;
    top: 68px;
    -webkit-animation:spin 3s .5s linear infinite;
    -moz-animation:spin 3s .5s linear infinite;
    animation:spin 3s .5s linear infinite;
    transform-origin: 51.5% 51.5%;

    }

    #ring4 {
    left: 102px;
    top: 83px;
    -webkit-animation:spin-reverse 3s .7s linear infinite;
    -moz-animation:spin-reverse 3s .7s linear infinite;
    animation:spin-reverse 3s .7s linear infinite;
    transform-origin: 53% 53%;

    }

    #ring5 {
    left: 122px;
    top: 124px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
    transform-origin: 52% 52%;

    }

    #light {
    left: 131px;
    top: 134px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
    transform-origin: 51% 51%;

    }
  }

.main-copy {
  width: 280px;
  position: absolute;
  margin: 0 10px;
  top: 280px;
  text-align: left;
    h2{
      font-size: 21px;
      line-height: 23px;
      color: #333333;
      font-family: 'Guardian Egyptian Headline';

      span {
        color: #FBB03B;
      }
    }
}

.cta {
  font-family: 'Guardian Agate Sans';
  font-size: 14px;
  color: #FBB03B;
  border: solid 1px #FBB03B;
  display: inline-block;
  float: left;
  border-radius: 20px;
  position: absolute;
  top:400px;
  left: 10px;
  height: 30px;
  padding: 0 15px;

  p {
    margin-top: 8px;
  }
}

.cta:hover {
  background: #FBB03B;
  color: #333;
  cursor: pointer;
}

}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-reverse { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@font-face {
  font-family: 'Guardian Agate Sans';
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Ag Sans 1 Web-Bold.eot");
  src: url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.woff) format("woff"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.ttf) format("truetype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.svg#Guardian+Text+Egyp+Web-Medium) format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Egyp Web-Bold.eot");
  src: url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.woff) format("woff"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.ttf) format("truetype"), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.svg#Guardian+Egyp+Web-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

/*# sourceMappingURL=styles.css.map */
