// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

body{
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: $f-serif-headline
}

h1{
  margin: 0px;
  padding: 0px;
  font-weight: 200;

  @include mq($until: tablet) {
    font-size: 26px;
  };
}

h2{
  margin: 0px;
  padding: 0px;
}

.headline{
  margin-bottom: 24px;
  float: left;
  width: 250px;
  margin-right: 4px;

  @include mq($until: tablet) {
    width: 100%;
  }
}

ul{
  margin: 0px;
  padding: 0px;
  float: left;

  li{
    list-style: none;
    margin-bottom: 8px;

    h1{
      font-weight: 800;
      font-size: 24px;

      @include mq($until: tablet) {
        font-size: 20px;
      }
    }

    h2{
      font-weight: 200;
      font-size: 18px;
    }
  }
}

.america__panel{
  background-color: black;
  padding-top: 6px;
  padding-bottom: 16px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
}
