// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';
$c-lightGrey: #dadada;
$c-darkGray: #161616;
$c-white: #ffffff;

html {
  margin: 0;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.video__docs {
  &--wrapper {

  }
  &--headline {
    top: 50%;
    width: 90%;
    position: absolute  ;
    font-size: 90px;
    line-height: 30px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    color: $c-white;
  }
}
