// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

html {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
// Base
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  .wrapper {
    // padding-left: 55px;
    padding-right: 63px;
    padding-top: 60px;
    // @media (min-width: 380px) and (max-width: 380px) {
    //   float: right;
    // }
  }
  a {
    color: inherit;
    text-decoration: none;
    border: 0;
    display: block;
  }
}

// Podcard styles
#podcard-player {
  width: 102%; // the whole thing scales based on this attribute
  max-width: 320px;
  min-width: 235px;
  position: relative;

  #podcard-audio {
    display: none;
  }

  .podcard {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 2px;
    color: #333;

    &__control {
      &-play,
      &-pause {
        position: absolute;
        top: 0;
        left: 0;
        width: 29.34%;
        height: 29.34%;
        transition: all 400ms;
      }
      &-play {
        z-index: 22;
        svg #play-circ {
          cursor: pointer;
        }
      }
      &-pause {
        z-index: 21;
        animation-delay: 200ms;
        animation-name: pause-puslate;
        animation-duration: 1000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
    &__progress-bar,
    &__artwork {
      position: absolute;
      width: 100%;
      height: 100%;
      img, svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    &__artwork {
      width: 121.33%;
      height: 118.33%;
      top: -18.33%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    &__progress-bar {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      transform: rotate(-119deg);

      #podcard-svg-bar {
        transition: all 500ms linear;
      }
    }
    &__headline {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 11;
      font-family: 'Guardian Egyptian Headline';
      font-weight: 600;
      color: #F7E4D5;
      width: 26%;
      font-size: 20px;
      line-height: 19.5px;
      transform: translateY(-50px);
      padding: 10%;
      margin-top: 3px;
      text-shadow:
       -1px -1px 0 rgba(57,57,57, 0.5),
        1px -1px 0 rgba(57,57,57, 0.5),
        -1px 1px 0 rgba(57,57,57, 0.5),
         1px 1px 0 rgba(57,57,57, 0.5);
      @media screen and (max-width: 340px) {
        left: auto;
        right: 59%;

      }
    }
    &__subscribe {
      z-index: 20;
      position: absolute;
      bottom: 16.67%;
      left: 0;
      background-color: #fb0;
      padding: 5px 13px 5px 30px;
      border-radius: 15px;
      display: block;
      color: inherit;
      text-decoration: none;
      border: 0;
      &--icon {
        width: 17px;
        height: 14px;
        position: absolute;
        left: 6px;
        top: 8px;
      }
      &--text {
        display: inline-block;
        max-width: 64px; // stops the flickering on load
        vertical-align: middle;
        // @include guss-webfonts('Guardian Agate Sans 1 Web' 'Guardian Sans Web');
        font-family: 'Guardian Agate Sans';
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 1.5px;
        line-height: 16px;
        // font-weight: bold;
      }
    }
  }
  &[data-status='paused'] {
    .podcard__control {
      &-play {
        opacity: 1;
      }
      &-pause {
        opacity: 0;
      }
    }
  }
  &[data-status='playing'] {
    .podcard__control {
      &-play {
        opacity: 0;
      }
      &-pause {
        opacity: 1;
      }
    }
  }



  .episode-info {
    width: auto;
    position: relative;
    padding-left: 5.6%;

    &__label {
      font-family: 'Guardian Agate Sans', georgia;
      font-weight: 700;
      font-size: 0;
      color: #666;
      line-height: 16px;
      &--latest {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        // &:after {
        //   content: '';
        //   display: inline-block;
        //   width: 1px;
        //   height: 12px;
        //   background-color: #ccc;
        //   height: 14px;
        //   vertical-align: middle;
        //   margin: 0 7px 0 9px;
        // }
      }
      // &--time,
      // &--current {
      //   padding-top: 1px;
      //   font-size: 13px;
      //   display: inline-block;
      //   vertical-align: middle;
      // }
      // &--current {
      //   max-width: 0;
      //   transition: all 300ms;
      //   opacity: 0.6;
      //   white-space: nowrap;
      //   overflow: hidden;
      //   &:after {
      //     content: 'of';
      //     margin: 0 4px 0 3px;
      //   }
      // }
    }
    &__title {
      font-family: 'Guardian Egyptian Headline';
      font-weight: 700;
      font-size: 20px;
      line-height: 21px;
      color: #333;
    }
  }
  &[data-status='playing'] {
    .episode-info {
      &__label {
        &--current {
          max-width: 50px;
          opacity: 1;
        }
      }
    }
  }

}


@keyframes pause-puslate {
  0% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(0.95);
  }

  80% {
    transform: scale(1);
  }

  83% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1);
  }

  98% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.95);
  }
}


@font-face {
    font-family: 'Guardian Agate Sans';
    src: url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Ag Sans 1 Web-Bold.eot');
    src: url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.woff) format('woff'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.ttf) format('truetype'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Ag+Sans+1+Web-Bold.svg#Guardian+Text+Egyp+Web-Medium) format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: "Guardian Egyptian Headline";
    src: url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Egyp Web-Bold.eot');
    src: url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.woff) format('woff'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.ttf) format('truetype'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Bold.svg#Guardian+Egyp+Web-Bold) format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal
}

// @font-face{
// 	font-family:"Guardian Egyptian Headline";
// 	src:url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Egyp Web-Medium.eot');
// 	src:url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Medium.eot?#iefix') format('embedded-opentype'),
// 		url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Medium.woff') format('woff'),
// 		url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Medium.ttf') format('truetype'),
// 		url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Medium.svg#Guardian+Egyp+Web-Medium') format('svg');
// 	font-weight:500;font-style:normal;font-stretch:normal;
// }

@font-face{
	font-family:"Guardian Egyptian Headline";
	src:url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian Egyp Web-Semibold.eot');
	src:url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Semibold.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Semibold.woff') format('woff'),
		url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Semibold.ttf') format('truetype'),
		url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Egyp+Web-Semibold.svg#Guardian+Egyp+Web-Semibold') format('svg');
	font-weight:600;
  font-style:normal;
  font-stretch:normal;
}
