// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';


.guardian__music-players {
    border-top: 1px solid #4bc6df;
    background-color: #f6f6f6;
    color: #333;
    padding-left: 6px;

    h1 {
        font-family:$f-serif-headline;
        font-size: 20px;
        font-weight: 900;
        line-height: 0px;
        float: left;
    }

    svg {
        width: 40px;
        height: auto;
        float: right;
        transition: all 0.5s ease-in-out;
        margin-bottom: 6px;
    }

    span {
        display: block;
        margin-top: 28px;

        img {
            height: 15px;
            display: block;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }

    a {
        color: #333;

        h1 {
            color: #333;
        }
    }


    &:last-child{
        border-bottom: none;
    }
}


.player-title {
    font-family:$f-serif-headline;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 0px;
    color: #333;
    border-top: 1px solid #d6d6d6;
    padding-top: 6px;
}

.guardian__music-player {
    border-bottom: 1px dotted #979797;
    overflow: auto;
    padding-top: 6px;
    padding-right: 6px;
    cursor: pointer;

    &:hover {
        svg {
            circle {
                fill: #005689;
            }
            path {
                fill: white;
            }
        }
    }

    iframe {
        display: none;
        clear: both;
    }
    &.clicked {
        padding-bottom: 10px;

        iframe {
            display: block;
        }

        svg {
            transform: rotate(225deg);
        }
    }

}
