// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';


.sidebar {
    font-family:'GH Guardian Headline', Georgia, serif;
    border-left: 2px solid #121212;
    border-top: 6px solid #121212;
    border-bottom: 2px solid #121212;
    background-color: #ffffff;
    padding-bottom: 12px;
    background-color: #ffe500;

    h1 {
        margin: 0;
        margin-bottom: 6px;
        border-bottom: 2px solid #121212;
        padding-bottom: 12px;
        padding-left: 6px;
        color: #121212;
        font-size: 20px;
    }

    p {
        margin: 0;
        font-family: 'Guardian Text Egyptian Web', Georgia, serif;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
    }

    a {
        margin-left: 6px;
        color: #121212;
        font-style: italic;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid #121212;
        }

        &:before {
            border-radius: 50%;
            height: 26px;
            width: 26px;
            background-color: #121212;
            display: inline-block;
            background-image: url('https://uploads.guim.co.uk/2018/03/16/arrow_white.svg');
            background-repeat: no-repeat;
            background-position: center;
            content: '';
            margin-bottom: -8px;
            margin-right: 6px;
        }
    }
}
