// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$pink: rgb(253, 238, 241);
$blue: rgb(204, 221, 231);

body{
  margin: 0px;
  padding: 0px;
}

.future50 {
  &--wrapper {
    position: relative;
    overflow: hidden;
    @include mq($from: desktop){
      margin-top: 94px;
      overflow: visible;
    }
  }

  &--wrapper, &--colour {
    width: 100%;
    height: 300px;
  }

  &--colour {
    background-color: $blue;
  }

  &--type, &--image, &--colour {
    position: absolute;
  }

  &--type {
    @include mq($from: desktop){
      left: 10px;
    }
    svg{
      width: 220px;
      height: 136px;
      margin-left: 10px;
      @include mq($from: desktop){
        width: 425px;
        height: 270px;
        margin-left: 0px;
      }
    }
  }

  &--image {
    width: 200px;
    bottom: 0px;
    left: 160px;

    img{
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: -60px;
    }

    @include mq($from: desktop){
      width: auto;
      height: auto;
      margin-top: -94px;
      left: 430px;
      width: 350px;
    }
  }
}
